.aboutContent {
	&__title {
		display: inline-block;
		@include add_gradient_bottom;
		font-size: 3.2rem;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--color-text-highlight: var(--light-purple);
	}
}
