.footer {
	max-width: $desktop;
	margin: 9.6rem auto 6.4rem;
	@include add_gradient_top(2rem);

	&__links {
		display: flex;
		justify-content: center;
		gap: 8rem;
		margin-bottom: 6.4rem;
		margin-top: 3.2rem;

		@media (min-width: $tablet) {
			gap: 24rem;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 1.2rem;

		&Text {
			@include font_bold;
		}
	}

	&__copyright {
		@include font_bold;
		font-size: 1.92rem;
	}

	&__text {
		margin-top: 1.6rem;
		text-align: left;
		display: flex;
		align-items: center;
		gap: 1rem;

		> span:first-child {
			user-select: none;
		}
	}
}
