.header {
	margin-top: 3.2rem;
	margin-bottom: 7rem;

	@media (min-width: $desktop) {
		margin-bottom: 9.6rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		font-size: $lg;
		user-select: none;
		@include font_semibold;
	}

	nav {
		display: flex;
		align-items: center;
		margin-top: 1rem;

		@media (min-width: $desktop) {
			margin-top: 0;
		}
	}

	&__navList {
		display: flex;
		align-items: center;

		.header__navListItem {
			@include font_semibold;
			font-size: 1.9rem;
			@include add_gradient_bottom;
			padding: 1.6rem;

			&Link {
				text-decoration: none;
			}
		}
	}
}

@media (min-width: $tablet) {
	.header__container {
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (min-width: $desktop) {
	.header__container {
		margin: 0 auto;
		max-width: $desktop;
	}
}
