* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	background: $purple-blue-gradient;
	min-height: 100vh;
	padding: 0.8rem;

	::selection {
		color: var(--color-selection);
		background: $purple;
	}

	@media (min-width: $tablet) {
		padding: 1.2rem;
	}
}

body {
	@include font_light;
	font-size: $md;
	padding: 1.6rem 3.2rem;
	background: var(--color-bg);
	border-radius: 1rem;
	color: var(--color-text);
}

a {
	color: inherit;
	text-decoration: underline;
	text-underline-offset: 0.2rem;
	text-decoration-thickness: 0.2rem;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading;
}

b,
strong {
	@include font_bold;
}

.container {
	margin: 0 auto;
	max-width: $desktop;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--color-bg: var(--black);
		--color-text: var(--gray);
		--color-selection: var(--black);
		--color-text-highlight: var(--black)
		--border-color: var(--gray);
	}
}
