:root {
	color-scheme: light;

	--black: #110724;
	--white: #fff;
	--gray: #e2e8f0;
	--purple: #781ed8;
	--light-purple: #a048ff;

	--color-bg: var(--white);
	--color-text: var(--black);
	--color-selection: var(--white);
	--color-text-highlight: var(--purple);
	--border-color: var(--black);
}
