$font-family-light: 'Work Sans Light', sans-serif;
$font-weight-light: 300;
$font-family-main: 'Work Sans Regular', sans-serif;
$font-weight-main: 400;
$font-family-heading: 'Work Sans SemiBold', sans-serif;
$font-weight-heading: 500;
$font-family-bold: 'Work Sans Bold', sans-serif;
$font-weight-bold: 700;

$sm: 1.2rem;
$md: 1.6rem;
$lg: 3.2rem;
$xl: 4.8rem;

$purple-dark: #261d84;
$gray-dark: var(--gray-dark);
$light-purple: var(--light-purple);
$purple: var(--purple);
$purple-blue-gradient: linear-gradient($purple, $purple-dark);

$mobile: 640px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1280px;
