@mixin add_gradient_bottom($marginTop: 0.4rem) {
	&::after {
		content: '';
		width: 100%;
		height: 0.2rem;
		display: block;
		margin-top: $marginTop;
		background: $purple-blue-gradient;
	}
}

@mixin add_gradient_top($marginBottom: 0.4rem) {
	&::before {
		content: '';
		width: 100%;
		height: 0.2rem;
		display: block;
		margin-bottom: $marginBottom;
		background: $purple-blue-gradient;
	}
}
