@font-face {
  font-family: "Work Sans Light";
  src: url("/fonts/WorkSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans Regular";
  src: url("/fonts/WorkSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans SemiBold";
  src: url("/fonts/WorkSans-SemiBold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
@font-face {
  font-family: "Work Sans Bold";
  src: url("/fonts/WorkSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
:root {
  color-scheme: light;
  --black: #110724;
  --gray: #e2e8f0;
  --gray-dark: #2b2e3a;
  --light-purple: #a048ff;
  --purple: #781ed8;
  --white: #fff;
  --color-bg: var(--white);
  --color-text: var(--black);
  --color-selection: var(--white);
  --color-text-highlight: var(--black);
  --border-color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0.4rem solid var(--color-text-highlight);
  outline-offset: 0.2rem;
  border-radius: 0.1rem;
  transition: outline 0.1s ease-in-out;
}

html {
  font-size: 62.5%;
  background: linear-gradient(-45deg, var(--purple), #261d84);
  min-height: 100vh;
  padding: 0.8rem;
}
html ::selection {
  color: var(--color-selection);
  background: var(--purple);
}
@media (min-width: 768px) {
  html {
    padding: 1.2rem;
  }
}

body {
  font-weight: 300;
  font-family: "Work Sans Light", sans-serif;
  font-size: 1.6rem;
  padding: 1.6rem 3.2rem;
  background: var(--color-bg);
  border-radius: 1rem;
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
  text-decoration-thickness: 0.2rem;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans SemiBold", sans-serif;
}

b,
strong {
  font-weight: 700;
  font-family: "Work Sans Bold", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.colorHighlight {
  color: var(--color-text-highlight);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-bg: var(--black);
    --color-text: var(--gray);
    --color-selection: var(--black);
    --color-text-highlight: var(--purple);
    --border-color: var(--gray);
  }
}
.header {
  margin-top: 3.2rem;
  margin-bottom: 7rem;
}
@media (min-width: 1280px) {
  .header {
    margin-bottom: 9.6rem;
  }
}
.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  font-size: 3.2rem;
  user-select: none;
  font-weight: 500;
  font-family: "Work Sans SemiBold", sans-serif;
}
.header nav {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
@media (min-width: 1280px) {
  .header nav {
    margin-top: 0;
  }
}
.header__navList {
  display: flex;
  align-items: center;
}
.header__navList .header__navListItem {
  font-weight: 500;
  font-family: "Work Sans SemiBold", sans-serif;
  font-size: 1.9rem;
  padding: 1.6rem;
}
.header__navList .header__navListItem::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  display: block;
  margin-top: 0.4rem;
  background: linear-gradient(-45deg, var(--purple), #261d84);
}
.header__navList .header__navListItemLink {
  text-decoration: none;
}
.header__navList .header__navListItemLink:focus {
  outline-offset: 2rem;
}

@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1280px) {
  .header__container {
    margin: 0 auto;
    max-width: 1280px;
  }
}
.footer {
  max-width: 1280px;
  margin: 9.6rem auto 6.4rem;
}
.footer::before {
  content: "";
  width: 100%;
  height: 0.2rem;
  display: block;
  margin-bottom: 2rem;
  background: linear-gradient(-45deg, var(--purple), #261d84);
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 8rem;
  margin-bottom: 6.4rem;
  margin-top: 3.2rem;
}
@media (min-width: 768px) {
  .footer__links {
    gap: 24rem;
  }
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.footer__linkText {
  font-weight: 700;
  font-family: "Work Sans Bold", sans-serif;
}
.footer__copyright {
  font-weight: 700;
  font-family: "Work Sans Bold", sans-serif;
  font-size: 1.92rem;
}
.footer__text {
  margin-top: 1.6rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__text > span:first-child {
  user-select: none;
}

.home .homeAbout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6.4rem;
}
.home .homeAbout__title {
  font-size: clamp(4.8rem, 4vw, 6.4rem);
  margin-bottom: 0.8rem;
}
.home .homeAbout__title > span {
  display: block;
}
.home .homeAbout__subtitle {
  font-size: 2.24rem;
  margin-bottom: 3.2rem;
}
.home .homeAbout__miniBio {
  max-width: 40ch;
  font-size: 2.24rem;
  line-height: 3.4rem;
}
.home .homeAbout__miniBio a {
  font-weight: 500;
  font-family: "Work Sans SemiBold", sans-serif;
}
@media (min-width: 768px) {
  .home .homeAbout {
    grid-template-columns: repeat(2, 1fr);
  }
}
.home .home__item:not(:last-child) {
  margin-bottom: 6.4rem;
}
.home .home__item .home__itemTitle {
  display: inline-block;
  font-size: 3.2rem;
  margin-bottom: 2.8rem;
}
.home .home__item .home__itemTitle::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  display: block;
  margin-top: 0.4rem;
  background: linear-gradient(-45deg, var(--purple), #261d84);
}
.home .homeCard__title {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}
.home .homeCard p {
  margin: 1.6rem 0;
  line-height: 2.4rem;
}
.home .homeCard__actions {
  margin-top: 1.6rem;
  padding: 1.6rem 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 3rem;
}
.home .homeCard__actions .homeCard__button {
  color: white;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background: var(--color-text-highlight);
  font-weight: 500;
  font-family: "Work Sans SemiBold", sans-serif;
  padding: 0.8rem 1.6rem 0.8rem 1.2rem;
  border-radius: 0.6rem;
  gap: 0.8rem;
}
.home .homeCard__actions .homeCard__seeAllCta {
  font-weight: 500;
  font-family: "Work Sans SemiBold", sans-serif;
  font-size: 1.9rem;
}
@media (min-width: 1280px) {
  .home .homeCard__actions {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.about__title {
  display: inline-block;
  font-size: 3.2rem;
  margin-bottom: 3.2rem;
}
.about__title::after {
  content: "";
  width: 100%;
  height: 0.2rem;
  display: block;
  margin-top: 0.4rem;
  background: linear-gradient(-45deg, var(--purple), #261d84);
}
.about__bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  max-width: 80rem;
}
.about__bio .about__mePhoto {
  width: 32rem;
  border-radius: 0.4rem;
}
.about__bio h2 {
  font: 500 clamp(2.88rem, 4.48vw, 3.2rem) "Work Sans SemiBold", sans-serif;
  line-height: 2;
  color: var(--color-text-highlight);
}
.about__bio h3 {
  font: 500 2.24rem "Work Sans SemiBold", sans-serif;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}
.about__bio p {
  font: 300 1.9rem "Work Sans Light", sans-serif;
}
@media (min-width: 768px) {
  .about__bio {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --color-text-highlight: var(--light-purple);
  }
}

/*# sourceMappingURL=index.css.map */
